* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: url(background_2.jpg) no-repeat center;
    background-size: cover;
    padding-top: 90px;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    color: #FFFF19;
}

h1 {
    font-size: 40px;
    text-decoration-line: underline;
}

.tag-line {
    font-size: 15px;
}

.results-container {
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    background: #ffe259;
    background: linear-gradient(to bottom, #ffa751, #ffe259);
}

#h2-tag {
    text-align: center;
    margin: 10px;
    font-size: 25px;
}

#h2-tag-events {
    text-align: center;
    margin: 10px;
    font-size: 25px;
}

#recipe-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

a {
    color: black;
}

a:visited {
    color: darkolivegreen;
}

.recipe-name {
    font-size: 20px;
    padding: 10px;
    color: black;
    text-align: center;
}

.recipe-photo {
    width: 200px;
    height: 200px;
    margin: 10px;
}

#recipe-list li {
    width: 221.333px;
    margin: 8px 8px 32px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 5px; */
    border: 1px solid black;
    background-color: #ffe259
}

#events-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.order-list {
    margin: 8px 8px 8px;
    border: 1px solid black;
    background-color: #ffe259;
    padding: 10px 0 10px 0;
}

ul {
    list-style: none;
}

ul li {
    padding-bottom: 10px;
}

.event-name {
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 0 5px 10px 5px;
}

form {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    opacity: 0.9;
    background: #ffe259;
    background: linear-gradient(to bottom, #ffa751, #ffe259);
    font-family: 'Fira Sans', sans-serif;
}

label {
    display: block;
    padding: 5px 0 5px 0;
    font-size: 15px;
    font-weight: 500;
}

.ctrl-options {
    font-size: 13px;
}

.options {
    display: inline;
}

input {
    padding: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    cursor: text;
}

#health-choices, #diet-choices {
    border-radius: 6px;
    border: 1px solid #ffaa22;
}

.submitButton {
    margin-top: 10px;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	border-radius: 6px;
	border: 1px solid #ffaa22;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 20px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
}

.submitButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
    cursor: pointer;
}

.submitButton:active {
    position:relative;
	top:1px;
}

.hidden {
    display: none;
}

div .resultsTabs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hideTabs {
    display: none;
}

#viewTabs {  
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    font-size: 25px;
    list-style: none;
    cursor: pointer;
}

#viewTabs li {
    display: inline-block;
}

.active {
    text-decoration-line: underline;
}

@media screen and (min-width: 300px) {
    div .resultsTabs {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 300px) {
    #viewTabs {
        font-size: 15px;
    }
}